
#myInput {
  background-image: url('images/search.png');
  background-position: 10px 10px;
  background-size:25px 25px;
  background-repeat: no-repeat;
  width: 70%;
  font-size: 16px;
  padding: 12px 20px 12px 40px;
  border: 1px solid #ddd;
  margin-bottom: 12px;
}

#box{
	width:150px;
	height:50px;
	position:absolute;
	left:600px;
	top:350px;
	z-index:-1;
	background-color:white;
}





#th1 {

  height: 80px;
  color : #c74679;
  font-size: 1.5em;
}

#th2{
	height: 80px;
	color : #84cde3;
	font-size: 1.5em;

}
img:hover {
	opacity: 0.7;
}

#img1,#img2,#img3,#img4{
	height:17px;
	width:20px;
}
img{
	transition: 0.3s;
	width: 120px;
	height: 125px;
}

td{
	
	color:#c9e639;
}

#logo{
	height :60;
	width :80;
}


body{
	font-family: Arial, Helvetica, sans-serif;
	text-align: center;
	background-image : url('images/thi (1).jpg');

}

header{
	color : #990000;
	font-size : 20;
	text-align : center;
	padding : 10px;
	font-family : Jokerman;
}

a{
	text-decoration : none;
	color : #ffff99;
	font-size : 18;
	font-family : Lucida Sans;
}

#aside1{
	margin-left:250px;
	float : left;
	height : 200px;
	width : 600px;
}

footer{
	
	color : white;
	text-align : center;
}
.divide:after {
  content: "";
  display: table;
  clear: both;
}


